<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23286794555-c1tsc0ibo2qn8ruulooaga99vl7gti8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23286794555-c1tsc0ibo2qn8ruulooaga99vl7gti8i</string>
	<key>API_KEY</key>
	<string>AIzaSyCeXXYxTvOvRI0A3mDdwS08Wg1-eSuHUtE</string>
	<key>GCM_SENDER_ID</key>
	<string>23286794555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>park.mail.ru.YOYOS</string>
	<key>PROJECT_ID</key>
	<string>bmstu-map</string>
	<key>STORAGE_BUCKET</key>
	<string>bmstu-map.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23286794555:ios:b579588f97a08f31</string>
	<key>DATABASE_URL</key>
	<string>https://bmstu-map.firebaseio.com</string>
</dict>
</plist>